/***********************Fonts******************/
@font-face {
  font-family: 'OpenSans-Bold';
  src: url("../fonts/Open_Sans/OpenSans-Bold.ttf") format("truetype"); }
@font-face {
  font-family: 'OpenSans-Light';
  src: url("../fonts/Open_Sans/OpenSans-Light.ttf") format("truetype"); }
@font-face {
  font-family: 'OpenSans-Regular';
  src: url("../fonts/Open_Sans/OpenSans-Regular.ttf") format("truetype"); }
@font-face {
  font-family: 'OpenSans-SemiBold';
  src: url("../fonts/Open_Sans/OpenSans-SemiBold.ttf") format("truetype"); }
/********************** Colors ****************/
/********************** General styles *********/
.font-family-bold {
  font-family: "OpenSans-Bold", "OpenSans-Regular", sans-serif !important; }

.font-family-light {
  font-family: "OpenSans-Light", "OpenSans-Regular", sans-serif !important; }

.font-family-regular {
  font-family: "OpenSans-Regular", sans-serif !important; }

.font-family-semi-bold {
  font-family: "OpenSans-SemiBold", "OpenSans-Regular", sans-serif !important; }

.icon {
  width: 20px;
  height: 20px;
  display: inline-block;
  mask-size: 100%;
  mask-position: center;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  -webkit-mask-position: center;
  -webkit-mask-repeat: no-repeat;
  background-color: #ffffff; }
  .icon.icon-view {
    mask-image: url("../images/icons/eye-open.svg");
    -webkit-mask-image: url("../images/icons/eye-open.svg"); }
  .icon.icon-play {
    mask-image: url("../images/icons/play-button.svg");
    -webkit-mask-image: url("../images/icons/play-button.svg"); }
  .icon.icon-like {
    mask-image: url("../images/icons/thumbs-up.svg");
    -webkit-mask-image: url("../images/icons/thumbs-up.svg"); }
  .icon.icon-dislike {
    transform: rotate(180deg); }
  .icon.icon-search {
    mask-image: url("../images/icons/magnifying-glass.svg");
    -webkit-mask-image: url("../images/icons/magnifying-glass.svg");
    vertical-align: sub; }
  .icon.icon-home {
    mask-image: url("../images/icons/home.svg");
    -webkit-mask-image: url("../images/icons/home.svg"); }
  .icon.icon-location {
    mask-image: url("../images/icons/placeholder.svg");
    -webkit-mask-image: url("../images/icons/placeholder.svg"); }
  .icon.icon-phone {
    mask-image: url("../images/icons/phone-call.svg");
    -webkit-mask-image: url("../images/icons/phone-call.svg"); }
  .icon.icon-message {
    mask-image: url("../images/icons/envelope.svg");
    -webkit-mask-image: url("../images/icons/envelope.svg"); }

.btn-cirk {
  background-color: #242464; }
  .btn-cirk:hover {
    background-color: rgba(36, 36, 100, 0.77); }

.text-cirk {
  color: #242464 !important; }

.text-black {
  color: #000000 !important; }

/********************** Main styles ****************/
body {
  overflow-x: hidden;
  background-image: url("../images/header_bg.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: top center; }
  body header .navbar .container .icon-view {
    vertical-align: middle;
    width: 16px;
    height: 16px; }
  body header .navbar .container .btn:focus {
    box-shadow: none; }
  body header .logo img {
    margin-top: 4rem; }
  body header .logo p {
    font-size: 14px; }
  body header .input-group {
    margin-top: 6rem; }
    body header .input-group input {
      font-size: 13px; }
  body main .container section .row .col-md-9 .nav .nav-item:not(:last-child) .nav-link {
    color: #242464;
    position: relative; }
    body main .container section .row .col-md-9 .nav .nav-item:not(:last-child) .nav-link:after {
      content: '';
      width: 0;
      height: 2px;
      background-color: #242464;
      bottom: 0;
      left: 0;
      position: absolute;
      transition: 0.5s; }
    body main .container section .row .col-md-9 .nav .nav-item:not(:last-child) .nav-link:hover:after {
      width: 100%; }
  body main .container section .row .col-md-9 .row .col-md-4 .card p:not(:last-child) {
    font-size: 13px !important;
    color: #8C8C8C; }
  body main .container section .row .col-md-9 .row .col-md-4 .card h5 {
    line-height: 21px; }
  body main .container section .row .col-md-9 .row .col-md-4 .card p {
    line-height: 18px;
    color: #272727; }
  body main .container section .row .col-md-9 .row .col-md-4 .card .card-img {
    height: 163px;
    object-fit: cover; }
  body main .container section .row .col-md-3 .card .video-wrap {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 225, 0.3);
    opacity: 0;
    transition: 0.5s; }
    body main .container section .row .col-md-3 .card .video-wrap .btn:focus {
      box-shadow: none; }
    body main .container section .row .col-md-3 .card .video-wrap .btn:hover .icon {
      background-color: #ffffff;
      transform: scale(1.2); }
    body main .container section .row .col-md-3 .card .video-wrap .btn .icon {
      width: 50px;
      height: 50px;
      background-color: rgba(225, 225, 225, 0.71);
      transition: 0.5s; }
  body main .container section .row .col-md-3 .card .video-wrap:hover {
    opacity: 1; }
  body main .container section .row .col-md-3 .card .list-unstyled .icon {
    background-color: #6c757d;
    vertical-align: sub;
    width: 17px;
    height: 17px;
    margin-left: 10px;
    margin-right: 5px; }
  body main .container section .row .col-md-3 .card .list-unstyled li {
    color: #6c757d;
    font-size: 13px; }
  body main .container section .row .col-md-3 .card p.text-mute {
    font-size: 13px; }
  body main .container section .row .col-md-3 .card .row .col-md-5 .icon {
    width: 25px;
    height: 25px; }
  body main .container section .row .container .row .col-md-4 img {
    position: relative; }
  body main .container section .row .container .row .col-md-4 .blue-hover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(225, 225, 225, 0) 30%, #00E4E4); }
    body main .container section .row .container .row .col-md-4 .blue-hover h4 {
      text-align: center;
      margin-top: 140px; }
  body main .container section .row .container .row .col-md-4:nth-child(2) .card .img-icons {
    background-position-x: -140px; }
  body main .container section .row .container .row .col-md-4:nth-child(3) .card .img-icons {
    background-position-x: -285px; }
  body main .container section .row .container .row .col-md-4 .card .img-icons {
    width: 140px;
    height: 120px;
    margin: 0 auto;
    margin-top: 50px;
    background-image: url("../images/icons.png");
    background-repeat: no-repeat;
    background-position-x: 0px; }
  body main .container section .row .container .row .col-md-4 .card p {
    text-align: center; }
  body main .container section .row .container .row .col-md-4 .card:hover {
    box-shadow: 0 0 35px #909090; }

.card:nth-child(1) {
  border: 2px solid #fdfdfd;
  padding-top: 30px; }
  .card:nth-child(1) .user {
    font-family: OpenSans-SemiBold #000000;
    margin: 0 auto; }
    .card:nth-child(1) .user img {
      border-radius: 50%;
      margin-bottom: 10px; }
    .card:nth-child(1) .user h4 {
      margin: 0px;
      padding: 0px; }
  .card:nth-child(1) p {
    font-size: 20px !important; }

footer {
  margin-top: 120px;
  background-image: url("../images/footer_bg.png");
  width: 100%;
  background-repeat: no-repeat; }

/**************************Media Query***********************/
@media (max-width: 767px) {
  body {
    background-image: none; }
    body header {
      background-color: rgba(0, 92, 191, 0.91); }
      body header .logo img {
        margin-top: 0; }
      body header .input-group {
        margin-top: 0;
        margin-bottom: 10px; }
    body main .container section .row .col-md-9 .row .col-md-4 .card .card-img {
      height: 100%; }
    body main .container section .row .col-md-9 .nav {
      margin-top: -30; }
    body main .container section .row .container .row {
      margin-left: 10px; }
      body main .container section .row .container .row div img {
        margin-top: 10px; }
      body main .container section .row .container .row .col-md-4 .card {
        margin-top: 20px; }
      body main .container section .row .container .row .col-md-6 {
        margin-top: 20px; }
        body main .container section .row .container .row .col-md-6 .carousel .carousel-indicators {
          margin-top: 50px; }
        body main .container section .row .container .row .col-md-6 .div {
          display: block !important; }
        body main .container section .row .container .row .col-md-6 div {
          margin-left: 0 !important; } }
@media (max-width: 767px) and (min-width: 767px) and (max-width: 1200px) {
  body main .container section .row .col-md-3 .card .list-unstyled .icon {
    margin-left: 7px; } }
@media (max-width: 767px) {
  footer {
    background-image: none;
    background-color: rgba(0, 92, 191, 0.91); }
    footer .container .row .col-md-12 div {
      padding-top: 0 !important;
      padding-left: 0 !important;
      margin-left: 0 !important; }
      footer .container .row .col-md-12 div p {
        padding-left: 0 !important; } }

/*# sourceMappingURL=main.css.map */
